[Unit]
Description=WSGI gunicorn
After=network.target

[Service]
User=lawrence
Group=www-data
WorkingDirectory=/sites/lavaland
ExecStart=/home/lawrence/.local/bin/gunicorn --limit-request-field_size 17179869184 --workers 1 --bind unix:lavaland.sock -m 777 wsgi:wsgi_app
Restart=always
KillSignal=SIGQUIT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
