{% extends 'base.html' %}
{% block title %}
Мессенджер
{% endblock %}
{% block body %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel='stylesheet' href="{{ url_for('static', filename='css/messenger.css') }}">

<div class="chat">
    <div class="chat-header clearfix">
        <div class="row">
            <div class="col-lg-6">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                </a>
                <div class="chat-about">
                    <h6 class="m-b-0">{{friend.name}}</h6>
                    <small>Last seen: 2 hours ago</small>
                </div>
            </div>
            <div class="col-lg-6 hidden-sm float-right">
                <a type="button" href="/messenger/decline_req/{{ friend.id }}" class="btn btn-sm btn-outline-secondary">Удалить из друзей</a>
            </div>
        </div>
    </div>
    <div class="chat-history">
        <ul class="m-b-0">
            {% for mes in messages %}
            {% if mes.sender_id == friend.id %}
                <li class="clearfix">
                    <div class="message-data">
                        <span class="message-data-time">{{ mes.sent_date.strftime('%H:%M') }}</span>
                    </div>
                    <div class="message my-message">{{ mes.text }}</div>
                </li>
            {% else %}
                <li class="clearfix">
                    <div class="message-data text-right">
                        <span class="message-data-time">{{ mes.sent_date.strftime('%H:%M') }}</span>
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                    </div>
                    <div class="message other-message float-right"> {{ mes.text }} </div>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="chat-message clearfix">
        <div class="input-group mb-0">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-send"></i></span>
            </div>
            <form method="post">
                <input name="message" type="text" class="form-control" placeholder="Enter text here...">
            </form>
        </div>
    </div>
</div>
{% endblock %}