{% extends 'base.html' %}
{% block title %}
Выложить файл
{% endblock %}
{% block body %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="m-5 fw-light">Загрузка файла</h1>
        <form method=post  enctype=multipart/form-data>
            <input type="file" name="File" id="file">
            <input class="btn btn-primary my-2" type=submit value=Загрузить>
        </form>
      </div>
    </div>
  </section>


{% endblock %}
