body {
  background: -webkit-linear-gradient(right, #915160, #2f5ba1);
  background: linear-gradient(270deg, #915160, #2f5ba1);
 } 
/*
body {
background: #141414;
}
*/
p {
color: #FFF;
}
h1 {
color: #FFF;
}
h2 {
color: #FFF;
}
h3 {
color: #FFF;
}
h4 {
color: #FFF;
}
a {
color: #FFF;
}
span {
color: #FFF;
}
.my-pink-link:hover {
    color: #FFF;
}

.my-pink-link-active {
    color: #FFF;
}
.my-pink-outline-button:hover {
    color: #fff;
}
.my-card {
    border: 1px solid transparent;
    border-radius: .3rem;
    border-color: #FFF;
}
.w {
    color: FFF;
}
.g {
    color: #FFF;
    background: #1f1f1f;
    border: none;

}
.g:focus {
    color: #FFF;
    background: #1f1f1f;
    border: none;
