body {
background: #141414;
}
p {
color: #FFF;
}
h1 {
color: #FFF;
}
h2 {
color: #FFF;
}
h3 {
color: #FFF;
}
h4 {
color: #FFF;
}
a {
color: #FFF;
}
span {
color: #FFF;
}
.my-pink-link:hover {
    color: #FFF;
}

.my-pink-link-active {
    color: #FFF;
}
.my-pink-outline-button:hover {
    color: #fff;
}
.my-card {
    background: #1f1f1f;
}