body {
  background: -webkit-linear-gradient(right, #915160, #2f5ba1);
  background: linear-gradient(270deg, #915160, #2f5ba1);
  margin-bottom: 10rem;
 }
.my-card {
    border: 1px solid transparent;
    border-radius: .3rem;
    border-color: #FFF;
}

p, h1, h2, h3, h4, a, span, small, label{
color: #FFF;
}
.my-input-label {
    color: #999;
}
.my-input {
    color: #FFF;
    border: none;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #FFF;
    border-radius: .3rem;
    border-color: #FFF;
}
.my-pink-button {
    background: #7A1F9C;
    color: #FFF;
    border: None;
}
.header-link {
	font-size: 1.25rem;
	justify-content: center;
    
}
.my-pink-link {
    color: #FFF;
	position: relative;
	text-decoration: none;
}
.my-pink-link-active {
    color: #DD24EE;
}
.my-outline-button{
    color: #FFF;
    border-color: #FFF;
}
hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #FFF; /* Цвет линии для остальных браузеров */
    background-color: #FFF; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    opacity: 100;
}
.dark {
    color: black;
}

.real-center {
}
