.circle-list {
    list-style: disc;
}
.my-clip {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.fixed-size {
    resize: none;
}

.my-pink {
color: #B35CF7;
}
.my-pink-link:hover {
    color: #DD24EE;
}

.my-pink-link::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: #DD24EE;
}


/* Только для пк: */
@media only screen
and (min-device-width : 1200px) {
.my-pink-link-active:before {
	width: 100%;}
.my-pink-link:hover:before {
	width: 100%;}
.my-pink-link::before {
	transition: width 0.30s;}
}
.my-pink-checkbox {
    accent-color: #7A1F9C;
}
.my-outline-button:hover {
  color: #000;
  background-color: #FFF;
}
.my-pink-outline-button {
    color: #DD24EE;
    border-color: #DD24EE;
}
.my-pink-outline-button:hover {
    background-color: #DD24EE;
    border-color: #DD24EE;
}

.my-pink-button:hover {
    color: #FFF;
    background: #DD24EE;
}

.my-big-text {
word-wrap: break-word;
}

.my-pink-link:hover {
    color: #DD24EE;
}
.my-pink-outline-button:hover {
    color: #fff;
}


.my-bottem-dark {
clear:both
/*
  background: #466368;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background:    -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1);
  background:         linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
*/
}
