.circle-list {
    list-style: disc;
}
.my-clip {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.fixed-size {
    resize: none;
}
body {
background: #141414;
}
p {
color: #FFF;
}
h1 {
color: #FFF;
}
h2 {
color: #FFF;
}
h3 {
color: #FFF;
}
h4 {
color: #FFF;
}
a {
color: #FFF;
}
span {
color: #FFF;
}
.my-pink {
color: #B35CF7;
}

.my-pink-link {
    color: #585858;
	position: relative;
	font-size: 1.25rem;
	text-decoration: none;
	justify-content: center;
}
.my-pink-link:hover {
    color: #DD24EE;
}

.my-pink-link::before {
	content: '';
	position: absolute;
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: #DD24EE;
}
.my-pink-link:hover {
    color: #FFF;
}

.my-pink-link-active {
    color: #FFF;
}
.my-pink-link-active:hover {
    color: #DD24EE;
}

/* Только для пк: */
@media only screen
and (min-device-width : 1200px) {
.my-pink-link-active:before {
	width: 100%;}
.my-pink-link:hover:before {
	width: 100%;}
.my-pink-link::before {
	transition: width 0.30s;}
}

.my-pink-outline-button {
    color: #DD24EE;
    border-color: #DD24EE;
}
.my-pink-outline-button:hover {
    color: #fff;
    background-color: #DD24EE;
    border-color: #DD24EE;
}










.my-pink-line {
    border: none; /* Убираем границу для браузера Firefox */
    color: #7A1F9C; /* Цвет линии для остальных браузеров */
    background-color: #7A1F9C; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
    opacity: 100;
}

.my-pink-button {
    background: #7A1F9C;
    color: #FFF;
    border: None;
}
.my-pink-button:hover {
    color: #FFF;
    background: #DD24EE;
}
.my-pink-checkbox {
    accent-color: #7A1F9C;
}
.my-card {
    background: #1f1f1f;
}
.my-big-text {
word-wrap: break-word;
}
.w {
    color: FFF;
}
.g {
    color: #FFF;
    background: #1f1f1f;
    border: none;
}
.g:focus {
    color: #FFF;
    background: #1f1f1f;
    border: none;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}