.circle-list {
    list-style: disc;
}
.my-clip {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.fixed-size {
    resize: none;
}

