{% extends 'base.html' %}
{% block title %}
Яндекс.Лицей.Облако
{% endblock %}
{% block body %}
<h1 class="text-muted text-center m-5">Создатели</h1>
<div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140&nbsp;x&nbsp;140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Лаврентий Наумов</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Не бойся пробовать. Часто самое худшее, что может произойти, это то, что произодёт, если не попробовать</font></font></p>
        <p><a class="btn btn-secondary" href="https://vk.com/prostolavr"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Заглянуть в вк</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140&nbsp;x&nbsp;140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Noname-Демьян</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Здесь будет большая и длинная цитата не крупным шрифтом вместо этого текста, который я сейчас максимально пытаюсь растянуть</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Соц.сети?</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 140&nbsp;x&nbsp;140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ты</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Покупая подписку ты поддерживаешь нас и становишься частью этого проекта!</font></font></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Почетный первый титул. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это взорвет ваш разум.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Лицо человека – очень сложная и отчетливая часть его тела. </font><font style="vertical-align: inherit;">На самом деле, это одна из самых сложных сигнальных систем, которые у нас есть; </font><font style="vertical-align: inherit;">Он включает в себя более 40 независимых мышц, как структурно, так и функционально, так что каждая из них может работать независимо от другой; </font><font style="vertical-align: inherit;">Это один из самых сильных индикаторов эмоций.</font></font></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 500&nbsp;x&nbsp;500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">О да, это хорошо. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посмотреть на себя.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Когда мы смеемся или плачем, мы демонстрируем свои эмоции, позволяя другим заглянуть в наш разум, «читая» наши лица на основе изменений в ключевых компонентах лица, таких как глаза, брови, веки, нос и губы.</font></font></p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 500&nbsp;x&nbsp;500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наконец, это. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мат.</font></font></span></h2>
        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Все мышцы в нашем теле поддерживаются нервами, соединенными со всеми частями тела со спинным и головным мозгом. </font><font style="vertical-align: inherit;">Эта нейронная связь является двунаправленной, а это означает, что нерв вызывает мышечные сокращения на основе сигналов мозга и в то же время отправляет информацию о состоянии мышц в мозг.</font></font></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Заполнитель: 500&nbsp;x&nbsp;500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
{% endblock %}