{% extends 'login_base.html' %}
{% block title %}
Яндекс.Лицей.Облако
{% endblock %}
{% block body %}
    <h3>Загрузить новый файл</h3>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=File>
         <input type=submit value=Загрузить>
    </form>
    {% for file in files %}
        <div class="alert alert-info">
            <h2>{{ file.name  }}</h2>
            <a href="{{ file.path }}" class="btn">Скачать</a>
        </div>
    {% endfor %}
{% endblock %}
