{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}
{% block body %}
<h1 class="text-center m-5">Создатели</h1>
<div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://sun9-9.userapi.com/s/v1/ig2/7tEx901z0VsgLPuwq6Z6AGNOY07KAooJD7x8GxnF3v7hFHcAZ6aTT1HhPNT7226Az2BEnrLnZpMF_XDNI3vR1CqT.jpg?size=2160x2160&quality=95&type=album">
        <h2>Лаврентий Наумов</h2>
        <p>Не бойся пробовать. Часто самый плохой вариант - это не попробовать.</p>
        <p><a class="btn btn-secondary" href="https://vk.com/prostolavr">Заглянуть в вк</a></p>
      </div>
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://i.pinimg.com/originals/2e/2e/21/2e2e2125ee53807c2d77b34773f84b5c.jpg">
        <h2>Демьян Бубнов</h2>
        <p>Здесь будет большая и длинная цитата не крупным шрифтом вместо этого текста, который я сейчас максимально пытаюсь растянуть</p>
        <p><a class="btn btn-secondary" href="#">Соц.сети?</a></p>
      </div>
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://thumbs.dreamstime.com/b/%D1%87%D0%B5%D1%80%D0%BD%D1%8B%D0%B9-%D1%83%D0%BA%D0%B0%D0%B7%D1%8B%D0%B2%D0%B0%D1%8E%D1%89%D0%B8%D0%B9-%D0%BF%D0%B0%D0%BB%D0%B5%D1%86-%D0%BA-%D1%82%D0%B5%D0%B1%D0%B5-%D1%87%D0%B5%D1%80%D0%BD%D0%B0%D1%8F-%D1%80%D1%83%D0%BA%D0%B0-%D1%83%D0%BA%D0%B0%D0%B7%D1%8B%D0%B2%D0%B0%D1%8E%D1%89%D0%B0%D1%8F-%D0%BF%D0%B0%D0%BB%D1%8C%D1%86%D0%B5%D0%BC-%D0%BD%D0%B0-229124886.jpg">
        <h2>Ты</h2>
        <p>Покупая подписку ты поддерживаешь нас и становишься частью этого проекта! Любой вклад поможет проекту развиваться дальше</p>
          <p><a class="btn btn-secondary" href="/premium">Поддержать</a></p>
      </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
          <h2 class="featurette-heading">Безопасность - это мы. Или почему мы лучше крупных IT-гигантов.</h2>
        <p class="lead">Ваши данные находятся на удалённой машине. За счёт маршрутизации портов невозможно обратиться к ней по протоколу отличному от https. Использование при хранении на сервере неоригинальных имён файлов обеспечивает безопасность операционной системы. А используемые программные средства используют защиту памяти, исключая чтение загруженных в оперативную память данных. </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="400" src="https://etu.ru/assets/images/Faculty-FKTI/csnd/02_information_security.jpg">
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Проект активно растёт и развивается.</h2>
        <p class="lead">Как любой небольшой проект, мы активно развиваем нашу эко-систему, увеличивая количество функционала, и улучшая логику интерфейсов. Отсутствие популярности вынуждает искать удобные решения для того, чтобы при выборе сервиса пользователь пренебрёг популярностью сервиса во имя приватности и эргономичности.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="400" src="https://regnum.ru/uploads/pictures/news/2017/03/05/regnum_picture_1488700740729019_normal.jpg">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Ты знаешь Python3 + Flask? Мы ждём тебя!</h2>
        <p class="lead">У нас невысокий порог прохода в команду. Всегда найдутся задачи любой сложности. Хочешь работать у нас, но живёшь за границей? Не проблема! Рады взять на удалёнку. Гарантируем полностью свободный график и долю с продаж. Если заинтересовала вакансия, можно написать на help@lava-land.ru</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="400" src="https://p4.wallpaperbetter.com/wallpaper/484/17/288/cooperation-wallpaper-preview.jpg">

      </div>
    </div>

    <hr class="featurette-divider">

  </div>
{% endblock %}