{% extends 'base.html' %}
{% block title %}
О нас
{% endblock %}
{% block body %}
<div class="container col-xl-10 col-xxl-8 px-4">
    <div class="row align-items-center g-lg-5 py-3">
        <div class="text-center py-3">
          <h2 class="display-5 fw-bold"></h2>
          <p class="col-md-8 fs-4 mx-auto lead">
           lava-land.ru - это облако, нацеленное на пользователя, а не на корпорацию. Для этого наш сайт имеет простой и понятный интерфейс. Наш сервис даёт возможность настроить себе максимально подходящий тариф, не покупая лишние гигабайты.
          </p>
        </div>

        <div class="p-3 mb-4 my-card rounded-3 text-center">
          <div class="container-fluid py-5">
            <h1 class="display-5"> Доступ к файлам в любой точке мира</h1>
            <p class="col-md-8 fs-4"></p>
            <a href="/cloud" class="btn my-pink-button btn-lg mt-3">Начать сейчас</a>
          </div>
        </div>
    </div>
</div>
<h1 class="text-center m-5">Участники проекта</h1>
<div class="container marketing">
    <div class="row">
      <div class="col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/static/images/lawrence.webp">
        <h2>Лаврентий Наумов</h2>
        <p>Программист</p>
        <p><a class="btn my-outline-button" href="https://vk.com/prostolavr">Заглянуть в вк</a></p>
      </div>
      <div class="col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/static/images/dema.webp">
        <h2>Демьян Бубнов</h2>
        <p>Программист</p>
        <p><a class="btn my-outline-button" href="https://vk.com/id618170319">Заглянуть в вк</a></p>
      </div>
      <div class="col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/static/images/nastya.webp">
        <h2>Анастасия Хацкевич</h2>
        <p>Тестировщик</p>
        <p><a class="btn my-outline-button" href="https://vk.com/anastasiia1267">Заглянуть в вк</a></p>
      </div>
      <div class="col-lg-3">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/static/images/you.webp">
        <h2>Ты</h2>
        <p>Покупая подписку, оствляя отзывы и предложения, ты поддерживаешь нас и становишься частью этого проекта!</p>
          <p><a class="btn my-outline-button" href="/premium">Поддержать</a></p>
      </div>
    </div>
    <div class="align-items-center col-m1">
      <div class="my-card text-center p-3 m-5">
          <h2 class="featurette-heading">Безопасность - это мы</h2>
        <p class="lead">Ваши данные находятся на удалённой машине. За счёт маршрутизации портов невозможно обратиться к ней по протоколу отличному от https. Использование при хранении на сервере неоригинальных имён файлов обеспечивает безопасность операционной системы. А используемые программные средства используют защиту памяти, исключая чтение загруженных в оперативную память данных. </p>
      </div>
      <div class="my-card text-center p-3 m-5">
        <h2 class="featurette-heading">Проект активно растёт и развивается.</h2>
        <p class="lead">Как любой небольшой проект, мы активно развиваем нашу эко-систему, увеличивая количество функционала, и улучшая логику интерфейсов. Наличие сильных конкурентов вынуждает искать удобные решения для того, чтобы при выборе сервиса пользователь пренебрёг популярностью сервиса во имя приватности и эргономичности.</p>
      </div>
      <div class="my-card text-center p-3 m-5">
        <h2 class="featurette-heading">Ты знаешь Python3 + Flask? Мы ждём тебя!</h2>
        <p class="lead">У нас всегда найдутся задачи любой сложности. Хочешь работать у нас, но живёшь за границей? Не проблема! Рады взять на удалёнку. Гарантируем полностью свободный график и долю с продаж. Если заинтересовала вакансия, можно написать на help@lava-land.ru</p>
      </div>
    </div>
</div>
{% endblock %}