{% extends 'base.html' %}
{% block title %}
Аккаунт
{% endblock %}
{% block body %}
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Ещё в разработке!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Тут можно будет посмотреть данные об аккаунте</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/account/edit"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Редактировать</button></a>
      </div>
    </div>
  </div>
{% endblock %}
