<!doctype html>
<html lang="ru">
    <head>
        <!-- Yandex.Metrika counter -->
            <script type="text/javascript" >
               (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
               m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
               (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

               ym(89140572, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
               });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/89140572" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel='stylesheet' href="{{ url_for('static', filename='css/first.css') }}">
        <script src="{{url_for('static', filename='js/confirm.js')}}" defer></script>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}{% endblock %}
    </head>
    <body>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
        <div class=" container">
            <header class="my-pink-header my-header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
              <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <span class="nav-link fs-3 my-pink-link {{ 'my-pink-link-active' if pages[0] else ''}}">lava-land.ru</span>
              </a>
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                {% if pages[1] %}
                  <li><a href="/cloud" class="nav-link px-2 fs-5 my-pink-link my-pink-link-active">Хранилище</a></li>
                {% else %}
                  <li><a href="/cloud" class="nav-link px-2 fs-5 my-pink-link">Хранилище</a></li>
                {% endif %}
                {% if pages[2] %}
                  <li><a href="/messenger" class="nav-link px-2 fs-5 my-pink-link my-pink-link-active">Мессенджер</a></li>
                {% else %}
                  <li><a href="/messenger" class="nav-link px-2 fs-5 my-pink-link">Мессенджер</a></li>
                {% endif %}
                {% if pages[3] %}
                  <li><a href="/premium" class="nav-link px-2 fs-5 my-pink-link my-pink-link-active">Подписка</a></li>
                {% else %}
                  <li><a href="/premium" class="nav-link px-2 fs-5 my-pink-link">Подписка</a></li>
                {% endif %}
                {% if pages[4] %}
                  <li><a href="/support" class="nav-link px-2 fs-5 my-pink-link my-pink-link-active">Поддержка</a></li>
                {% else %}
                  <li><a href="/support" class="nav-link px-2 fs-5 my-pink-link">Поддержка</a></li>
                {% endif %}
              </ul>
              <div class="col-md-3 text-end">
                {% if login %}
                  <a href="/account" type="button" class="btn me-2 my-outline-button">Аккаунт</a>
                  <button onclick="confirm_click('/account/logout')" class="btn my-pink-button">Выйти</button>
                {% else %}
                  <a href="/login{{'?page=' + active_page if active_page else ''}}" type="button" class="btn my-pink-button">Вход в аккаунт</a>
                  <a href="/account/register{{'?page=' + active_page if active_page else ''}}" type="button" class="btn me-2 my-outline-button">Регистрация</a>
                {% endif %}
              </div>
            </header>
        </div>
        
        {% block body %}{% endblock %}
<!--
        <div class="my-bottem-dark">
          <footer class="py-5">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="#" class="my-pink-link px-2">Home</a></li>
              <li class="nav-item"><a href="#" class="my-pink-link px-2">Features</a></li>
              <li class="nav-item"><a href="#" class="my-pink-link px-2">Pricing</a></li>
              <li class="nav-item"><a href="#" class="my-pink-link px-2">FAQs</a></li>
              <li class="nav-item"><a href="#" class="my-pink-link px-2">About</a></li>
            </ul>
            <p class="text-center">© 2022 Company, Inc</p>
          </footer>
        </div>
-->
    </body>
</html>

