{% extends 'base.html' %}
{% block title %}
Мессенджер
{% endblock %}
{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel='stylesheet' href="/static/css/messenger.css">
{% endblock %}
{% block body %}
<div class="chat">
    <div class="chat-header clearfix">
        <div class="row">
            <div class="col-lg-6">
                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                </a>
                <div class="chat-about">
                    <p class="m-b-0">{{friend.name}}</p>
                </div>
            </div>
            <div class="col-lg-6 hidden-sm float-right">
                <button onclick="confirm_click('/messenger/decline_req/{{ friend.id }}')" class="btn btn-sm my-outline-button">Удалить из друзей</button>
            </div>
        </div>
    </div>
    <div class="chat-history">
        <ul class="m-b-0">
            {% for mes in messages %}
            {% if mes.sender_id == friend.id %}
                <li class="clearfix">
                    <div class="message-data">
                        <span>{{ mes.sent_date.strftime('%H:%M') }}</span>
                    </div>
                    <div class="message my-message">{{ mes.text }}</div>
                </li>
            {% else %}
                <li class="clearfix">
                    <div class="message-data text-right">
                        <span>{{ mes.sent_date.strftime('%H:%M') }}</span>
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                    </div>
                    <div class="message other-message float-right"> {{ mes.text }} </div>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="chat-message clearfix">
        <div class="mx-5">
            <form method="post">
                <input name="message" type="text" class="chat-input form-control my-input" placeholder="Напишите сообщение...">
            </form>
        </div>
    </div>
</div>
{% endblock %}