{% extends 'base.html' %}
{% block title %}
Хранилище
{% endblock %}
{% block body %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Ваше хранилище</h1>
        <a href="/load"><p class="lead btn btn-primary my-2">Загрузить файл</p></a>
      </div>
    </div>
  </section>
{% if not files %}
  <p class="text-center lead text-muted">Здесь будут ваши файлы</p>
{% else %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for file in files %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <p class="card-text">{{ file.name  }}</p>
                {% if file.desc %}
                <p class="my-clip text-muted">{{ file.desc }}</p>
                {% else %}
                <p class="text-muted">Без описания</p> 
                {% endif %}
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" href="/download/{{ file.path }}" class="btn btn-sm btn-outline-primary">Скачать</a>
                    <a type="button" href="/edit_file/{{ file.path }}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                    <a type="button" href="/remove/{{ file.path }}" class="btn btn-sm btn-outline-secondary">Удалить</a>
                  </div>
                  <small class="text-muted">{{ file.date.strftime("%m.%d.%Y") }}</small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
