{% extends 'base.html' %}
{% block title %}
Регистрация
{% endblock %}
{% block body %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 rounded-3 my-card" method="post">
          <p>{{ message }}</p>
          <div class="form-floating mb-3">
            <input type="password" name="OldPassword" class="form-control my-input" id="floatingOldPassword" placeholder="password">
            <label class="my-input-label" for="floatingOldPassword">Старый пароль<small>*</small></label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name='Login' class="form-control my-input" id="floatingLogin" placeholder="Login" value="{{Login}}">
            <label class="my-input-label" for="floatingLogin">Логин</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" name="Email" class="form-control my-input" id="floatingEmail" placeholder="name@example.com" value="{{Email}}">
            <label class="my-input-label" for="floatingEmail">Адрес эл.почты</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="Password" class="form-control my-input" id="floatingPassword" value="{{Password}}" placeholder="password">
            <label class="my-input-label" for="floatingPassword">Новый пароль</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="RepeatPassword" class="form-control my-input" id="floatingPasswordRepeat" value="{{RepeatPassword}}" placeholder="password">
            <label class="my-input-label" for="floatingPasswordRepeat">Повторите пароль</label>
          </div>
          <button class="w-100 btn btn-lg my-pink-button" type="submit">Изменить аккаунт</button>
          <hr class="my-4">
          <small>Оставьте поле пустым, чтобы не изменять его.</small>
          <small>Используя аккаунт, Вы подтверждаете согласие с <a href="/politic">Политикой сайта</a></small>
        </form>
      </div>
    </div>

{% endblock %}