{% extends 'base.html' %}
{% block title %}
Редактировать файл
{% endblock %}
{% block head %}
<script src="{{url_for('static', filename='js/text_copy.js')}}"></script>
{% endblock %}
{% block body %}
<form method=post enctype=multipart/form-data>
    <section class="py-5 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Редактировать файл</h1>
                <p class="lead text-muted"><b>Имя файла</b><br>
                    <input class="form-control" type="text" id="name" name="name" value="{{ file.name }}">
                <p class="lead text-muted"><b>Описание файла</b><br>
                    <textarea name="desc" id="desc" class="form-control fixed-size" rows="3" cols="50">{{ file.desc }} </textarea>
                </p>
                <p class="lead text-muted"><b>Доступ к файлу</b><br>
                <div class="form-check">
                    {% if file.is_open %}
                        <input class="form-check-input" type="radio" name="access" id="close" value=0>
                    {% else %}
                        <input class="form-check-input" type="radio" name="access" id="close" value=0 checked>
                    {% endif %}
                    <label class="form-check-label" for="close">
                      Закрытый (Файл могу скачать только я)
                    </label>
                </div>
                <div class="form-check">
                    {% if file.is_open %}
                        <input class="form-check-input" type="radio" name="access" id="open" value=1 checked>
                    {% else %}
                        <input class="form-check-input" type="radio" name="access" id="open" value=1>
                    {% endif %}

                    <label class="form-check-label" for="open">
                      Открытый (Файл могут скачать все, у кого есть ссылка)
                    </label>
                </div><br>
                <textarea class="form-control">{{ link }}</textarea>
                <button id="linkButton" type="button" class="btn btn-secondary" onclick="copyText( '{{ link }}' )">Copy link</button>
                <input class="btn btn-primary my-2" type="submit" value=Сохранить>
            </div>
        </div>
    </section>
</form>
{% endblock %}
