{% extends 'base.html' %}
{% block title %}
Редактировать файл
{% endblock %}
{% block body %}
<form method=post enctype=multipart/form-data>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Редактировать файл</h1>
                <p class="lead text-muted"><b>Имя файла (латиницей)</b><br>
                    <input class="form-control" type="text" id="name" name="name" value="{{ file.name }}">
                <p class="lead text-muted"><b>Описание файла</b><br>
                    <textarea name="desc" id="desc" class="form-control">{{ file.desc }} </textarea><br>
                </p>
                <p class="lead text-muted"><b>Доступ к файлу</b><br></p>
                <p>Выбор прав доступа</p>
                <input class="btn btn-primary my-2" type=submit value=Сохранить>
            </div>
        </div>
    </section>
</form>
{% endblock %}