{% extends 'base.html' %}
{% block title %}
Вход
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Привет!</h1>
        <p class="col-lg-10 fs-4">Это описание того что мы делаем. Это описание того что мы делаем. Это описание того что мы делаем. Это описание того что мы делаем. </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 rounded-3 my-card" method="post">
          <p>{{ message if message else '' }}</p>
          <div class="form-floating mb-3">
            <input value="{{ username if username else '' }}" name="Login" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Логин</label>
          </div>
          <div class="form-floating mb-3">
            <input value="{{ password if password else '' }}" name="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
          </div>
          <div class="checkbox mb-3 text-center lead">
            <label>
              <input id="RememberMe" type="checkbox" class="my-pink-checkbox" value="remember-me" {% if checked %}checked{% endif %}><span class="w m-2 unselectable">Запомнить меня</span>
            </label>
          </div>
          <button class="mb-3 w-100 btn btn-lg btn-primary my-pink-button" type="submit">Войти</button>
          <a class="w-100 btn btn-lg btn-outline-secondary" href="/account/register" >Регистрация</a>
          <hr class="my-pink-line">
          <small class="text-muted">Нажимая кнопку Войти, Вы подтверждаете согласие с <a href="/politic">Политикой сайта</a></small>
        </form>
      </div>
      <img src="https://cdn.discordapp.com/attachments/929030760684453890/973922718976196708/unknown.png">
      <div class="text-center">
        <h1 class="display-4 fw-bold">Твои файлы всегда под рукой!</h1>
        <p class="fs-4">Мы предлагаем доступ к облачному хранилищу, которое </p>
      </div>
    </div>
  </div>
{% endblock %}