{% extends 'base.html' %}
{% block title %}
Подписка
{% endblock %}
{% block head %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/premium.css') }}">
<script src="{{url_for('static', filename='js/premium.js')}}"></script>
{% endblock %}
{% block body %}
<!--<div class="m-5">-->
<!--    <h1 class="text-center m-5">Больше специально для тебя</h1>-->
<!--    <h2 class="text-center m-5 text-muted">Выбери свой тариф</h2>-->
<!--    <form class="row row-cols-1 row-cols-md-1 mb-3 text-center" onsubmit="return false" oninput="level.value = flevel.valueAsNumber">-->
<!--      <input name="flevel" id="flying" type="range" min="5" max="100" value="20" step="1"><br>-->
<!--      <h1><output for="flying" name="level">20</output> ГБ</h1>-->
<!--    </form>-->
<!--</div>-->
<div class="ctrl">
  <span id="view">0</span>
  <input id="num" type=number min="0" max="1000" step="100" value="0">
  <input id="range" type="range" min="0" max="1000" step="100" value="0">
</div>
{% endblock %}

