{% extends 'base.html' %}
{% block title %}
Подписка
{% endblock %}
{% block head %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/premium.css') }}">
<script src="{{url_for('static', filename='js/premium.js')}}" defer></script>
{% endblock %}
{% block body %}
<div class="align-items-center container px-5 ">
  <h1 class="text-center m-5">Выбери свой тариф</h1>
  <form class="row my-card row-cols-1 row-cols-md-1 mb-3 text-center">

    <input class="slider my-5" id="range" type="range" min="5" max="100" step="1" value="20">
    <div class="my-div py-1 row row-cols-2 text-center">
      <input id="num" class="my-input" type="number" min="5" max="100" step="1" value="20">
      <span id="my-span unselectable">ГБ</span>
    </div>
    <div class="py-4 mb-2 text-center text-end">
      <a href="/get_premium" class="btn btn-lg my-pink-button mt-2">Оформить подписку</a>
      <a href="/get_premium" class="btn my-pink-outline-button btn-lg mt-2">Хочу больше 100 ГБ</a>
    </div>
  </form>
</div>


{% endblock %}

