{% extends 'base.html' %}
{% block title %}
Регистрация
{% endblock %}
{% block body %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Максимальная приватность</h1>
        <p class="col-lg-10 fs-4">Мы делаем всё, чтобы сохранить Вашу приватность. Но не забывайте о безопастности! Держите в секрете данные своей учётной записи. Обращайте внимание на адрес сайта.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 rounded-3 my-card" method="post">
          <p>{{ message }}</p>
          <div class="form-floating mb-3">
            <input value="{{ Login if Login else '' }}" type="text" name='Login' class="form-control" id="floatingLogin" placeholder="Login">
            <label for="floatingLogin">Логин<small>*</small></label>
          </div>
          <div class="form-floating mb-3">
            <input value="{{ Email if Email else '' }}" type="email" name="Email" class="form-control" id="floatingEmail" placeholder="name@example.com">
            <label for="floatingEmail">Адрес эл.почты</label>
          </div>
          <div class="form-floating mb-3">
            <input value="{{ Password if Password else '' }}" type="password" name="Password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль<small>*</small></label>
          </div>
          <div class="form-floating mb-3">
            <input value="{{ RepeatPassword if RepeatPassword else '' }}" type="password" name="RepeatPassword" class="form-control" id="floatingPasswordRepeat" placeholder="Password">
            <label for="floatingPasswordRepeat">Повторите пароль<small>*</small></label>
          </div>
          <p style="color:#FFF">В пароле должны присутствовать спец символы, буквы и цифры</p>
          <button class="mb-3 w-100 btn btn-lg btn-primary my-pink-button" type="submit">Создать аккаунт</button>
          <a class="w-100 btn btn-lg btn-outline-secondary" href="/" >Войти</a>
          <hr class="my-pink-line">
          <small class="text-muted">Создав аккаунт, Вы подтверждаете согласие с <a href="/politic">Политикой сайта</a></small>
        </form>
      </div>
    </div>
</div>

{% endblock %}