{% extends 'base.html' %}
{% block title %}
Поддержка
{% endblock %}
{% block body %}
<div class="m-5 col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        По всем вопросам вы можете обращаться на почту help@lava-land.ru
      </h3>
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Что нового?
      </h3>
      <article class="blog-post">
        <h2 class="blog-post-title">Разработка проекта</h2>
        <p class="blog-post-meta">23 января, 2022 автор: Лаврентий</p>

        <p>Сегодня прошла встреча разработчиков, на которой было запланировано множество нового функционала. В ближайшее время ожидайте релиз!</p>
        <hr>
        <p>К релизу готовится следующий функционал. Возможность безопасно делиться файлами, обновление дизайна и страниц и даже встроенный мессенджер!</p>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary disabled">Older</a>
        <a class="btn btn-outline-secondary disabled">Newer</a>
      </nav>

    </div>
{% endblock %}